table {
    border-collapse: collapse;
}

.cell {
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
}

.verticalCenter {
    top: 20%;
}

.cost {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.content {
    height: 100%;
}

.color {
    display: block;
    height: 20%;
    position: relative;
    padding: 0;
    margin: 0;
}

.bigInfo {
    display: block;
    height: 100%;
    position: relative;
    word-wrap: break-word;
    font-size: 0.65em;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.info {
    display: block;
    height: 80%;
    position: relative;
    word-wrap: break-word;
    font-size: 0.65em;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.highlight {
    border: 2px solid black;
}

.empty {
    background: lightcyan;
}

div .row1 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
}

div .row2 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg); /* Standard syntax */
}

div .row3 {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg); /* Standard syntax */
}