table {
    border-collapse: collapse;
}

.cell {
    width: 50px!important;
    height: 70px!important;
    padding: 0;
    margin: 0;
}

.inverted-cell {
    width: 70px!important;
    height: 50px!important;
    padding: 0;
    margin: 0;
}

.corner-cell {
    width: 70px!important;
    height: 70px!important;
    padding: 0;
    margin: 0;
}

.middle-cell {
    width: 50px!important;
    height: 50px!important;
    padding: 0;
    margin: 0;
}

.verticalCenter {
    top: 20%;
}

.cost {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.content {
    width: 100%;
    height: 100%;
}

.color {
    display: block;
    height: 20%;
    position: relative;
    padding: 0;
    margin: 0;
}

.bigInfo {
    display: block;
    height: 100%;
    position: relative;
    word-wrap: break-word;
    font-size: 0.5em;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.info {
    display: block;
    height: 80%;
    position: relative;
    word-wrap: break-word;
    font-size: 0.5em;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.highlight {
    border: 2px solid black;
}

table {
    background: url("../img/board.jpg") no-repeat center;
    background-size: 77% 77%;
}

div .row1 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
}

div .row2 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg); /* Standard syntax */
}

div .row3 {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg); /* Standard syntax */
}